@import "../../../assets/scss/colors";
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: $middle;
  width: fit-content;
  margin: auto;
  padding: .5rem 2rem;
  border-radius: .5rem;
}

.filter {
  select {
    border: .1rem solid $dark;
    border-radius: .3rem;
    background: none;
  }
  label {
    margin-right: .5rem;
  }
}
