<app-spinner *ngIf="isLoading"></app-spinner>
<h2>Items</h2>
<div class="catalogue">
  <aside>
    <h3>
      <span>Search and filter</span>
      <span class="show" (click)="showFilters()">
        <span *ngIf="filterVisibility">show</span>
        <span *ngIf="!filterVisibility">hide</span>
      </span>
    </h3>
    <app-search (onSearch)="onSearch($event)"></app-search>
    <div (click)="getAll()" class="category" [ngClass]="{'show_active': filterVisibility}">All</div>
    <div *ngFor="let category of categories" [ngClass]="{'show_active': filterVisibility}">
      <div (click)="onCategory($event)" class="category">{{category | titlecase}}</div>
    </div>
    <div class="filters" [ngClass]="{'show_active': filterVisibility}">
      <div class="filter">
        <label for="limit">On page</label>
        <select name="limit" id="limit" [ngModel]="filters.limit" (change)="onFilter($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </div>
      <div class="filter">
        <label for="sort">Sort</label>
        <select name="sort" id="sort" [(ngModel)]="filters.sort" (change)="onFilter($event)">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
    </div>
  </aside>
  <div class="items">
    <div *ngFor="let item of items">
      <app-item [item]="item"></app-item>
    </div>
  </div>
</div>
