@import "../../../assets/scss/colors";
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.filter {
  label {
    margin-right: .5rem;
  }
}
