@import "../../../assets/scss/colors";
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: calc(100vh - 30rem);
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: $light;
  width: 80%;
  margin: auto;
  padding: .5rem;
  border-radius: .5rem;
  font-size: 1.4rem;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  select {
    border: .1rem solid $dark;
    border-radius: .3rem;
    background: none;
  }
}

.catalogue {
  display: flex;
  margin: 1rem auto;
  padding: 1rem 0;
}

aside {
  width: 20rem;
  flex:  none;
  background: $middle;
  color: $font-color-main;
  border-radius: .5rem;
  padding: 3rem 1rem;
  margin: 0 2rem 0 0;
}

.category {
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;
  &:hover {
    background: $dark;
    color: $font-color-light;
    border-radius: .5rem;
  }
}
