<header>
  <a routerLink="">
    <img src="assets/images/fakestore-logo.png" alt="Fake store">
  </a>
  <nav>
    <ul>
      <li>
        <a routerLink="/store" routerLinkActive="active">Catalogue</a>
      </li>
      <li *ngIf="user.authenticated">
        <a routerLink="/cart" routerLinkActive="active">Cart</a>
      </li>
      <li *ngIf="user.authenticated">
        <a routerLink="/user" routerLinkActive="active">
          User
        </a>
      </li>
      <li *ngIf="!user.authenticated">
        <a routerLink="/auth" routerLinkActive="active">
          Login
        </a>
      </li>
      <li *ngIf="user.authenticated" (click)="signout()">
        <a href="">Logout</a>
      </li>
    </ul>
  </nav>
</header>
