@import "../../../assets/scss/buttons";
form {
  width: 30rem;
  margin: 2rem auto;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;
}

input {
  border: .1rem solid $dark;
  border-radius: .5rem;
  padding: .3rem 1rem;
  background: $light;
}

.user__data {
  width: 30rem;
  margin: 2rem auto;
}

.button_edit,
.button_save {
  @include button-primary;
  margin: 1rem;
}

.button_delete,
.button_cancel {
  @include button-accent;
  margin: 1rem;
}
