<h2>User data</h2>
<div class="user__data"  *ngIf="!editMode">
  <ul>
    <li>User name:</li>
    <li>Email</li>
  </ul>
  <button class="button_edit" (click)="editModeToggle(true)">Change data</button>
  <button class="button_delete" (click)="deleteUser()">Delete user</button>
</div>
<form [formGroup]="form" (ngSubmit)="saveData()" *ngIf="editMode">
  <div class="form-control">
    <label for="username">User name</label>
    <input type="text" name="username" id="username" formControlName="username">
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" formControlName="email">
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
  </div>
  <div class="form-control">
    <button class="button_save" type="submit">Save</button>
    <button class="button_cancel" (click)="editModeToggle(false)">Cancel</button>
  </div>
</form>
