@import "../../../assets/scss/buttons";

.item__description {
  display: flex;
  padding: 0 2rem;
  img {
    width: 90%;
  }
}
.left {
  width: auto;
}
.right {
  width: 60rem;
}

button {
  @include button-primary;
  margin: 3rem auto;
}