<section style="background-image: url('../../../assets/images/pexels-andrea-piacquadio-974911.jpg')">
  <div class="left">
    <h1>Fake store</h1>
    <h2>
      <a href="https://fakestoreapi.com/" target="_blank">Fake Store API</a>
      is a rest API for your e-commerce or shopping website prototype.
    </h2>
    <img src="/assets/images/fakeStoreApi.png" alt="Fake Store API logo">
  </div>
  <div class="right"></div>
</section>
<section style="background-image: url('../../../assets/images/pexels-karolina-grabowska-5706277.jpg')">
  <div class="right"></div>
  <div class="left">
    <h2>
      Made with <a href="https://angular.io/" target="_blank">Angular</a>
    </h2>
    <img src="/assets/images/angular.png" alt="Angular logo">
  </div>
</section>
