<h1>Fake store</h1>
<section>
  <div class="phrase">
    <span>
      <a href="https://fakestoreapi.com/" target="_blank">Fake Store API</a>
      is a rest API for your e-commerce or shopping website prototype.
    </span>
  </div>
  <img src="/assets/images/fakeStoreApi.png" alt="Fake Store API logo">
</section>
<section>
  <img src="/assets/images/angular.png" alt="Angular logo">
  <div class="phrase">
    <span>
      Made with <a href="https://angular.io/" target="_blank">Angular</a>
    </span>
  </div>
</section>
