@import "../../../assets/scss/colors";
@import "../../../assets/scss/buttons";
.items {
  width: 90%;
  margin: auto;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .1rem solid $dark;
  border-radius: .5rem;
  margin: 1rem 0;
  input {
    width: 4rem;
    border: none;
    border-radius: .5rem;
    margin: 0 .5rem;
    padding: .5rem;
  }
  button {
    @include button-accent;
  }
}
.item__title {
  width: auto;
  margin: .5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__quantity {
  flex: none;
  padding: .5rem 1rem;
  background: $dark;
  color: $font-color-light;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.empty__cart {
  height: calc(100vh - 22rem);
  width: 100%;
  background-image: url("../../../assets/images/pexels-sora-shimazaki-5926227.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 5rem;
    color: $font-color-light;
    text-shadow: .2rem .2rem .3rem $dark;
  }
}