<h2>Cart</h2>
<section *ngIf="cart.size === 0" class="empty__cart">
  <h2>Nothing was added</h2>
</section>
<div *ngFor="let item of cart | keyvalue" class="items">
  <div class="item">
    <div class="item__title">{{item.key.title}}</div>
    <div class="item__quantity">
      <input
          type="number"
          name="quantity"
          id="quantity"
          [value]="item.value"
          (change)="update(item.key, $event)">
      <button (click)="remove(item.key)">Remove</button>
    </div>
  </div>
</div>