<form [formGroup]="form" (ngSubmit)="signup()">
  <div class="form-control">
    <label for="username">Login</label>
    <input type="text" name="username" id="username" formControlName="username">
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" formControlName="email">
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
  </div>
  <div class="form-control">
    <button type="submit">Submit</button>
  </div>
</form>
