/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/colors";

* {
  font-family: "Droid Sans", sans-serif;
}
body {
  padding: .8rem 2rem;
  margin: 0;
}
h1, h2, h3, h4 {
  color: $light;
  text-align: center;
}

a {
  color: $dark;
  &:hover {
    color: $light;
  }
}
